.div-header {background-color:#FFF0ED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border-style: solid;
  border-bottom-color: #85144b;
  border-top-color: #FFF0ED;
  border-left-color: #FFF0ED;
  border-right-color:#FFF0ED;
  border-width: 10px;
}
.header-title {

}
.navigation-option {
display: flex;
justify-content: space-around;
}
.div-about {
  margin-right: 40px;
  margin-bottom: 20px;
}
.div-shopnow  {
  margin-left: 40px;


}
.menu-bar {
display:flex;
justify-content: center;
background-color: #FFF0ED;
}
.menu-items {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: gray;
 margin-left: 160px;
 margin-right: 160px;
}


.hot-drinks {
  margin right: 50px;
}

#shop-now {
  text-decoration: none;
}
#about-link {
  text-decoration: none;
  color: black;
}
#menu-link  {
 text-decoration: none;
 color: black;
}
#hot-drink-link  {
  text-decoration: none;
  color: white;
}
#cold-drinks-link {
  text-decoration: none;
  color: white;
}
#pastries-link  {
  text-decoration: none;
  color: white;
}
.menu-bar-image {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  background-color: #85144b;
}
.separator {
  background-color: gray;
}
.hot-drinks-div {
  height: 300px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:#FFF0ED;
}
.in-house-brew {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.hot-drinks-title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.in-house-brew-pricing {
  display: flex;
  justify-content: center;
}
.espresso-div {
  display: flex;
  justify-content: center;
}
.espresso-pricing {
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
}
body {
  background-color: #FFF0ED;
  border-style: solid;
  border-color: #85144b;
  border-width: 5px;

}
.cold-drinks-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 200px;
  margin-right: 200px;
}
.cold-drinks-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.cold-brew-section {
  display: flex;
  justify-content: center;
}
.cold-brew-pricing {
  display: flex;
justify-content: center;
}
.latte-title {
  display: flex;
  justify-content: center;
}
.latte-pricing {
  display: flex;
  justify-content: center;
}
.pastries-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 200px;
  margin-right: 200px;
}
.pastries-title {
  align-self: center;
}
.treats-title {
  align-self: center;
}
.oatmeal-div {
  align-self: center;
}
.oatmeal-pricing {
  align-self: center;
}
.treats-pricing  {
  align-self: center;
}
.treats-p {
  align-self: center;
}
