.nav-section {
  background-color: #FFF0ED;
display: flex;
flex-direction: row;
justify-content: space-around;
height: 60%;
border-style: solid;
border-bottom-color: gray;
border-bottom-width: 6px;
border-top-color: #FFF0ED;
border-left-color: #FFF0ED;
border-right-color: #FFF0ED;
}
.nav-links {
display:flex;
align-self: flex-end;
}
.nav-about-div  {
  margin-right: 30px;
}
.nav-menu-div {
  margin-right: 30px;
}
.div-advert-breakdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFF0ED;
  margin-bottom: 40px;
}
.cafe-name {
  align-self: center;
}
.cafe-p { align-self: center;
  background-color: #FFF0ED;
}

.card  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: grey;
}
footer {
  background-color: #FFF0ED;
}
